.Menu div{
	width: 33%;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

header img{
	width: 20%;
	height: 10%;
	display: block;
	margin-left:auto;
	margin-right: auto;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}


input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.logo {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    text-align: center;
    height: 100%;
}

a:visited, a:link {
	color: #004455;
	background-color: #4CAF50;
	padding-top: 15px;
	padding-bottom: 15px;
}

a:hover, a:active{
 opacity: 0.8;
}